*, *:before, *:after                    { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
* :focus,
* :active                               { outline: none !important; -moz-outline-style: none; }

body                                    { background-color: #FFF; background-image: -webkit-linear-gradient(135deg, #68BE87, #8BC8B7); background-image: linear-gradient(-45deg, #68BE87, #8BC8B7); }
body                                    { font: normal normal 300 14px/1.6 'Roboto', Helvetica, Arial, Verdana, sans-serif; color: #4F5F46; }
@media (min-width: 768px) {
    body                                { font-size: 16px; }
}

h1                                      { font: normal normal 100 4.768em/1.2 'Roboto', Helvetica, Arial, Verdana, sans-serif; color: #FFF; margin: 0; }
h2                                      { font: normal normal 300 2.618em/1.2 'Roboto', Helvetica, Arial, Verdana, sans-serif; color:#859894; margin: 0; }
p                                       { font-size: 1.25em; margin: 0; }
small                                   { font-size: .833em; padding: .25em; }
a                                       { text-decoration: none; color: #FFF; opacity: .75; }

section                                 { height: 100vh; width: 100%; padding: 2em 2em 8em 2em; display: flex; display: -webkit-flex; align-items: center; -webkit-align-items: center; justify-content:center; -webkit-justify-content:center; flex-direction: column; -webkit-flex-direction: column; }
section > p:last-child                  { position: absolute; bottom: 12px; right: 12px; display:block;  }
.resources p span                       { font-size: .75em; background: #B4DAC6; padding: .25em; }
.resources a                            { color: #4F5F46; }

.demo                                   { padding:1em 0 3em 0; display: flex; display: -webkit-flex; align-items: center; -webkit-align-items: center; justify-content:center; -webkit-justify-content:center; flex-direction: row; -webkit-flex-direction: row; }
.demo p                                 { margin: 0 12px 0 0; }
.demo a                                 { margin:0 4px; background: #777; width: 36px; height: 36px; border-radius: 50%; display: flex; display: -webkit-flex; align-items: center; -webkit-align-items: center; justify-content:center; -webkit-justify-content:center; transition: opacity .5s; color: #8DC2A1; }
.demo a:hover                           { opacity: .375; }

.github                                 { background: url("http://bcorreia.com/github.png")center center no-repeat; height: 60px; width: 60px; background-size: contain; opacity: .5; transition: opacity 1.25s ease; display: block; margin: 0 auto; }
.github:hover                           { opacity: .9; }
.text-hide                              { font: ~"0/0" a; color: transparent; background-color: transparent; }